
/* HEADER */


.menu-fixed{
  position: fixed;
  top: 0;
  width: 100vw;
}

.sony{
  background-color: black;
  height: 40px;
  display: flex;
  justify-content: end;
}

.sony .logo{
  width: 70px;
  margin-right: 20px;
}

.cg-navbar ul li a{
  color: black !important;
}

.cg-btn{
  display: inline-block;
  background-color:rgb(54, 54, 54) ;
  border-radius: 20px;
  width: 70px; 
  height: 45px; 
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  color: white !important;
  cursor: pointer;
  
}

.bi-search{
  font-size: 25px;
  margin: 15px;
}


/* JUMBOTRON */
.jumbotron{
  margin-top: 110px;
  height:100vh;
  background-image: url(../img/jumbo-bg.png);
  background-size: cover;
  background-position: center;
  color: white;
}

.box-img-jumbo{
width: 60%;
}

.cg-btn-jumbo{
  border-radius: 20px !important;
  background-color: red !important;
  font-weight: bold;
}