
/* bottoni */

.cg-btn-br{
  border-radius: 50px !important;
}

.cg-btn-play5{
  border: 2px solid rgb(11, 94, 215)!important;
  outline: 2px solid rgb(11, 94, 215);
}

.cg-btn-play5:hover{
  border: 2px solid rgb(255, 255, 255) !important;
}

.cg-btn-jumbo{
  border-radius: 20px !important;
  background-color: red !important;
  border: 2px solid red !important;
  outline: 2px solid red;
  font-weight: bold;
}

.cg-btn-jumbo:hover{
  border: 2px solid rgb(0, 0, 0) !important;
}

/* titoli */

.title-play5 h1{
  font-size: 40px;
  margin-bottom: 30px;
}

.title-play5 h5{
  color: rgb(115, 115, 115);
  font-weight: 600;
  margin-bottom: 40px;
}


/* DEBUG */
.debug{
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid rgb(10, 7, 7);
}
.h50{
  height: 50px;
}
.h70{
  height: 70px;
}
.h100{
  min-height: 100px;
}
.h200{
  min-height: 200px;
}
.h300{
  min-height: 300px;
}